<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:fragment="html-head(title)">
    <meta charset="UTF-8">
    <title th:text="|${title}|">Title text</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <!-- th:href references static folder directly/// -->
    <div th:fragment="page-header">
        <img id="system-logo" src="../../static/img/spring-boot-logo.png" th:src="@{/img/spring-boot-logo.png}">
        <span class="page-header">Thymeleaf Fragments Example</span>
    </div>
</body>

</html>