<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:replace="fragments/header.html :: html-head(title='Log In!')"></head>

<body>
    <h1>Please Login</h1>
    <div th:if="${param.error}" style="color: red;">
        <p>Invalid User Name or Password</p>
    </div>
    <div th:if="${param.logout}" style="color: red;">
        <p>You are now logged out</p>
    </div>

    <form action="#" th:action="@{/login}" method="post">
        <p>User Name: <input type="text" name="username"></p>
        <p>Password: <input type="text" name="password"></p>
        <input type="submit" value="Log In">
    </form>

    <p>Join <a href="#" th:href="@{/newUser}"> Here </a></p>
    <p><a href="/" th:href="@{/}">Back to Home</a></p>

    <div th:include="fragments/links :: div.bottom-links"></div>
    <div th:replace="fragments/footer.html :: page-footer"></div>
</body>

</html>