<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Students</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>

<body>
    <h3 th:each="student : ${students}">
        <!-- in js, getStudent(url, id) -->
        <a href="#" th:id="'a'+${student.id}" th:onclick="'getStudent(/students/, '+${student.id}+')'"
            th:text="${student.name}"></a>
        <span th:id="'student'+${student.id}"></span>
    </h3>
</body>

</html>