<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Manager's Secured Area</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
    <h1>Welcome to the Manager's Secured Area!</h1>
    User's Name: <span sec:authentication="name"></span>
    <br>
    Roles: <span sec:authentication="principal.authorities"></span>
    <br><br>
    <ul>
        <li>
            Managers can edit board game reviews
        </li>
        <li>
            Managers can delete board game reviews
        </li>
    </ul>
    <!-- <a href="#" th:href="@{/manager/new-user}">Add a User</a> -->
    <br><br>
    <p>Go back <a href="#" th:href="@{/}">Home</a></p>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</body>

</html>